sudo: false
language: php
php:
  - 7.4
  - 7.2

matrix:
  fast_finish: true
  allow_failures:
    - php: 7.2

cache:
  apt: true
  directories:
    - $HOME/.composer/cache
    - vendor

before_install:
  - phpenv config-rm xdebug.ini
  - composer self-update

install:
  - composer install -o --prefer-dist --no-interaction

script:
  - composer --version
